extends layout

block content
    .main.container
        .panel.panel-default
            .panel-body(style='padding:40px;')
                .row
                    .col-md-6.col-md-offset-3
                        h1.text-center Hola
                        h2.text-center= datos[0].nombre
                        h3.text-center Bienvenido
