extends layout

block content
  .main.container
    .row
      .col-sm-4
        form#log(method='POST',action='/bienvenido')
          h3.text-center Iniciar Sesión
          .form-group
            label Usuario
            input#txtUser.form-control(type='text',placeholder='Ingres tu usuario',name='user')
          .form-group
            label Password
            input#txtPass.form-control(type='password',placeholder='Ingresa tu contraseña',name='password')
          .form-group
            button.btn.btn-info(type='submit') Ingresar
          .form-group
            .bg-error #{mensaje}
